:root {
    --white: #ffffff;
    --black: #000000;
    --line: #eeeeee;
    --secondary2: #888888;
}

.login-popup {
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all ease 0.4s;
    z-index: 11;
}

.login-popup.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

@media (max-width: 1490px) {
    .login-popup {
        right: 16px;
    }
}

@media (max-width: 767.98px) {
    .login-popup {
        top: 56px !important;
    }
}

.modal-newsletter,
.modal-video-block,
.modal-sizeguide-block,
.modal-quickview-block,
.modal-order-detail-block,
.modal-cart-block,
.modal-wishlist-block,
.modal-search-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.4s;
    background: rgba(0, 0, 0, 0.6);
    z-index: 101;
}

.modal-newsletter:has(.modal-newsletter-main.open),
.modal-video-block:has(.modal-video-main.open),
.modal-sizeguide-block:has(.modal-sizeguide-main.open),
.modal-quickview-block:has(.modal-quickview-main.open),
.modal-order-detail-block:has(.modal-order-detail-main.open),
.modal-cart-block:has(.modal-cart-main.open),
.modal-wishlist-block:has(.modal-wishlist-main.open),
.modal-search-block:has(.modal-search-main.open) {
    opacity: 1;
    visibility: visible;
}

.modal-newsletter-main {
    width: 100%;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.6s;
}

.modal-newsletter-main .right {
    position: relative;
}

@media (min-width: 640px) {
    .modal-newsletter-main .right .list {
        position: absolute;
        width: calc(100% - 42px);
        height: -webkit-fill-available;
    }
}

@media (max-width: 639.98px) {
    .modal-newsletter-main .right .list .product-item:last-child,
    .modal-newsletter-main .right .list .product-item:first-child {
        display: none;
    }
}

.modal-newsletter-main.open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.modal-quickview-main,
.modal-cart-main,
.modal-wishlist-main {
    position: absolute;
    top: 20px;
    right: -100%;
    width: 540px;
    height: calc(100vh - 40px);
    background-color: var(--white);
    border-radius: 32px;
    overflow: hidden;
    transition: all ease 0.5s;
}

.modal-quickview-main.open,
.modal-cart-main.open,
.modal-wishlist-main.open {
    right: 20px;
}

.modal-quickview-main .remove-cart-btn:hover svg,
.modal-cart-main .remove-cart-btn:hover svg,
.modal-wishlist-main .remove-cart-btn:hover svg {
    color: var(--black);
}

.modal-quickview-main .list-product,
.modal-cart-main .list-product,
.modal-wishlist-main .list-product {
    max-height: calc(100% - 140px - 30px + 14px);
    overflow-x: auto;
}

.modal-quickview-main .list-product .item:last-child,
.modal-cart-main .list-product .item:last-child,
.modal-wishlist-main .list-product .item:last-child {
    border-bottom: none;
}

.modal-quickview-main .list-product::-webkit-scrollbar,
.modal-cart-main .list-product::-webkit-scrollbar,
.modal-wishlist-main .list-product::-webkit-scrollbar {
    width: 6px;
    background: var(--line);
}

.modal-quickview-main .list-product::-webkit-scrollbar-thumb,
.modal-cart-main .list-product::-webkit-scrollbar-thumb,
.modal-wishlist-main .list-product::-webkit-scrollbar-thumb {
    background-color: var(--secondary2);
    border-radius: 4px;
}

.modal-quickview-main .footer-modal,
.modal-cart-main .footer-modal,
.modal-wishlist-main .footer-modal {
    box-shadow: 0px 5px 18px 5px rgba(64, 72, 87, 0.15);
}

@media (max-width: 1023.98px) {
    .modal-quickview-main .list-product,
    .modal-cart-main .list-product,
    .modal-wishlist-main .list-product {
        max-height: calc(100% - 140px - 30px + 24px);
    }
}

@media (max-width: 767.98px) {
    .modal-quickview-main,
    .modal-cart-main,
    .modal-wishlist-main {
        width: 480px;
        border-radius: 16px;
    }
    
    .modal-quickview-main .list-product,
    .modal-cart-main .list-product,
    .modal-wishlist-main .list-product {
        max-height: calc(100% - 140px - 30px + 42px);
    }
}

@media (max-width: 575.98px) {
    .modal-quickview-main,
    .modal-cart-main,
    .modal-wishlist-main {
        width: unset;
        left: 20px;
        top: 30px;
        height: calc(100vh - 60px);
    }
    
    .modal-quickview-main .list-product .item .bg-img,
    .modal-cart-main .list-product .item .bg-img {
        width: 80px;
        flex-shrink: 0;
    }
    
    .modal-quickview-main .list-product .item .bg-img img,
    .modal-cart-main .list-product .item .bg-img img {
        width: 80px;
    }
}

.modal-quickview-main {
    width: 856px;
}

.modal-quickview-main .list-img {
    max-height: 100%;
    height: 100%;
    overflow-x: auto;
}

.modal-quickview-main .list-img .bg-img:first-child {
    margin-top: 0;
}

.modal-quickview-main .product-infor {
    overflow-x: auto;
    max-height: calc(100% - 54px);
    height: 100%;
}

.modal-quickview-main .list-img::-webkit-scrollbar,
.modal-quickview-main .product-infor::-webkit-scrollbar {
    width: 6px;
    background: var(--line);
}

.modal-quickview-main .list-img::-webkit-scrollbar-thumb,
.modal-quickview-main .product-infor::-webkit-scrollbar-thumb {
    background-color: var(--secondary2);
    border-radius: 4px;
}

@media (max-width: 1023.98px) {
    .modal-quickview-main {
        width: 720px;
    }
    
    .modal-quickview-main .list-product {
        max-height: calc(100% - 210px - 212px);
    }
}

@media (max-width: 767.98px) {
    .modal-quickview-main {
        width: 480px;
    }
    
    .modal-quickview-main > div {
        overflow-x: auto;
        max-height: 100%;
        height: 100%;
    }
    
    .modal-quickview-main > div::-webkit-scrollbar {
        width: 6px;
        background: var(--line);
    }
    
    .modal-quickview-main > div::-webkit-scrollbar-thumb {
        background-color: var(--secondary2);
        border-radius: 4px;
    }
    
    .modal-quickview-main .list-img::-webkit-scrollbar {
        width: 2px;
    }
    
    .modal-quickview-main .product-infor {
        overflow-x: unset;
        max-height: unset;
        height: 100%;
    }
}

@media (max-width: 575.98px) {
    .modal-quickview-main {
        width: unset;
    }
    
    .modal-quickview-main .list-product {
        max-height: calc(100% - 210px - 165px);
    }
}

.modal-cart-main {
    width: 980px;
}

.modal-cart-main .list-product {
    max-height: calc(100% - 210px - 180px);
}

.modal-cart-main .tab-item {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.4s;
    transform: translateY(100%);
    box-shadow: 0px 5px 18px 5px rgba(64, 72, 87, 0.15);
}

.modal-cart-main .tab-item.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

@media (max-width: 1023.98px) {
    .modal-cart-main {
        width: 720px;
    }
    
    .modal-cart-main .list-product {
        max-height: calc(100% - 210px - 212px);
    }
}

@media (max-width: 767.98px) {
    .modal-cart-main {
        width: 480px;
    }
    
    .modal-cart-main .list-product {
        max-height: calc(100% - 210px - 125px);
    }
}

@media (max-width: 575.98px) {
    .modal-cart-main {
        width: unset;
    }
    
    .modal-cart-main .list-product {
        max-height: calc(100% - 210px - 165px);
    }
}

.modal-search-main {
    position: absolute;
    width: calc((1290px / 6) * 5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    transition: all ease 0.5s;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
}

.modal-search-main.open {
    opacity: 1;
    visibility: visible;
}

.modal-search-main .list-product .product-item .list-action {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    transform: translateY(120px);
}

.modal-search-main .list-product .product-item .list-action > div {
    width: 100%;
}

@media (max-width: 1400px) {
    .modal-search-main {
        max-height: calc(100vh - 400px);
        height: 100%;
        width: calc(100vw - 200px);
    }
}

@media (max-width: 640px) {
    .modal-search-main {
        max-height: calc(100vh - 200px);
        height: 100%;
        width: calc(100vw - 80px);
        border-radius: 16px;
    }
}

.modal-sizeguide-main {
    position: absolute;
    width: calc((1290px / 6) * 5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    transition: all ease 0.5s;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
}

.modal-sizeguide-main.open {
    opacity: 1;
    visibility: visible;
}

.modal-sizeguide-main .progress .rc-slider-track,
.modal-sizeguide-main .progress .rc-slider-rail {
    height: 8px;
}

.modal-sizeguide-main .progress .rc-slider-handle {
    margin-top: -7px;
    width: 20px;
    height: 20px;
}

.modal-sizeguide-main .progress .rc-slider-handle.rc-slider-handle-1 {
    display: none;
    pointer-events: none;
}

.modal-sizeguide-main table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.modal-sizeguide-main table td,
.modal-sizeguide-main table th {
    border: 1px solid #d6d6d6;
    text-align: center;
    padding: 8px;
}

.modal-sizeguide-main table tr:nth-child(even) {
    background-color: #eeeeee;
}

@media (max-width: 1200px) {
    .modal-sizeguide-main {
        width: calc(100vw - 120px);
    }
}

@media (max-width: 640px) {
    .modal-sizeguide-main {
        width: calc(100vw - 80px);
        border-radius: 16px;
    }
    
    .modal-sizeguide-main .progress .rc-slider-track,
    .modal-sizeguide-main .progress .rc-slider-rail {
        height: 6px;
    }
    
    .modal-sizeguide-main .progress .rc-slider-handle {
        margin-top: -5px;
        width: 16px;
        height: 16px;
    }
}

.modal-video-main {
    position: absolute;
    width: calc((1290px / 6) * 5);
    height: 605px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    transition: all ease 0.5s;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
}

.modal-video-main.open {
    opacity: 1;
    visibility: visible;
}

.modal-video-main iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 1400px) {
    .modal-video-main {
        width: calc(100vw - 120px);
        height: 70vh;
    }
}

@media (max-width: 640px) {
    .modal-video-main {
        height: 30vh;
        width: calc(100vw - 40px);
    }
}

.modal-newsletter {
    z-index: 102;
}

.modal-quickview-block {
    z-index: 103;
}

.modal-wishlist-block {
    z-index: 104;
}

.modal-cart-block {
    z-index: 104;
}

.modal-sizeguide-block {
    z-index: 104;
}

.modal-compare-block {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.4s;
    background: rgba(0, 0, 0, 0.6);
    z-index: 101;
}

.modal-compare-block:has(.modal-compare-main.open) {
    opacity: 1;
    visibility: visible;
}

.modal-compare-main {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    transform: translateY(100%);
    transition: all ease 0.5s;
    box-shadow: 0px 5px 18px 5px rgba(64, 72, 87, 0.15);
}

.modal-compare-main.open {
    transform: translateY(0);
}

.modal-compare-main .remove-compare-btn:hover svg {
    color: var(--black);
}

@media (max-width: 1290px) {
    .modal-compare-main .list-product {
        max-width: calc(100% - 105px - 238px);
        overflow: unset;
        overflow-x: auto;
        padding-top: 24px;
        margin-top: -24px;
    }
}

@media (max-width: 767.98px) {
    .modal-compare-main {
        height: 320px;
    }
    
    .modal-compare-main .list-product {
        max-width: 100%;
        overflow: unset;
        overflow-x: auto;
        padding-top: 24px;
        margin-top: -24px;
    }
}